table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 25%;
}

/*.experiment-detail {*/
/*  overflow: hidden;*/
/*  display: flex;*/
/*}*/

tr.experiment-row:hover {
  background: whitesmoke;
}

/*tr.experiment-row:active {*/
/*  background: whitesmoke;*/
/*}*/

tr.experiment-row.selected:hover {
  background: #8965f6;
}

.experiment-row td {
  border-bottom-width: 0;
  /*background-color: purple;*/
}

.selected {
  background-color: #aa8eee;
}

/*.selected-detail {*/
/*  background-color: #eae3ff;*/
/*}*/

/*tr.experiment-detail-row {*/
/*  height: 0;*/
/*}*/

/*.mat-list-item {*/
/*  padding-left: 15px;*/
/*  max-height: 25px; !* default is 72px *!*/
/*  font-size: 14px;*/
/*}*/

/*.mat-list-base .mat-list-item .mat-list-item-content {*/
/*  padding: 0px !important*/
/*}*/

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  margin: 10px;
}

.form-column {
  margin-top: 10px;
  display: flex;
  /*flex-wrap: nowrap;*/
  flex-direction: column;
}
