<div>
  <div>
    <button (click)="applyColors()">plot test call</button>
<!--    <link rel="stylesheet" href="./node_modules/uplot/dist/uPlot.min.css">-->
<!--    <script src="../../../../../node_modules/uplot/dist/uPlot.iife.min.js"></script>-->
    <plotly-plot *ngIf="graph.data[0].meta != 'loading'"
                 [data]="graph.data"
                 [layout]="graph.layout"
                 [updateOnlyWithRevision]="true"
                 [revision]="revision"
    ></plotly-plot>
<!--    <div #chartElement ></div>-->
  </div>
</div>

<!--[labels]="scatterChartLabels"-->
