<div>
  <mat-tab-group mat-align-tabs="start"
                 [selectedIndex]="selectedTab.value"
                 (selectedIndexChange)="selectedTab.setValue($event)">

    <mat-tab [disabled]="true">
      <ng-template mat-tab-label>
        <div *ngIf="loading" class="progress">
          <mat-spinner [diameter]="30" style="margin-right: 5px"></mat-spinner>
          <span style="justify-content: center">Processing</span>
        </div>
        <div *ngIf="uploading" class="progress">
          <mat-spinner [diameter]="30" style="margin-right: 5px"></mat-spinner>
          <span style="justify-content: center">Uploading</span>
        </div>
        <div *ngIf="!loading && !uploading" style="display: inline">
<!--          <mat-spinner [diameter]="30" style="margin-right: 5px"></mat-spinner>-->
          <span>Idle</span>
        </div>
      </ng-template>
      <div>
<!--        TODO: I know this is never shown, but could clean it up...-->
        <p>tfanalysis works!</p>
        <i class="material-icons">attach_file</i>
      </div>

    <!--   DATA FILE IMPORT TAB   -->
    </mat-tab>
    <mat-tab label="Import">
      <app-file-upload
        [parsers]="commonService.parsers"
    ></app-file-upload>
    </mat-tab>

    <!--   EXPERIMENT SELECTION TAB   -->
    <mat-tab label="Select">
      <app-select-experiment
        [selectedExperiment]="commonService.selectedExperiment"
        [experiments]="commonService.experiments"
      ></app-select-experiment>
    </mat-tab>

    <!--  SAMPLE INFO TAB  -->
    <mat-tab label="Sample info">
        <app-sample-info

          [sampleInfo]="commonService.sampleInfo"
        ></app-sample-info>
    </mat-tab>

    <!--  TRANSITION PROCESSING SETTINGS TAB  -->
    <mat-tab label="Transition processing"  >
      <app-processing-settings
        *ngIf="experimentSelected"
        [sampleInfo]="commonService.sampleInfo"
        [transitionProcessingSettings]="commonService.transitionProcessingSettings"
      ></app-processing-settings>
    </mat-tab>

    <!--  TRANSITION VIEW / PEAK FINDING TAB  -->
    <mat-tab label="Transition view"  >
      <app-transition-view
        *ngIf="experimentSelected"
        [sampleInfo]="commonService.sampleInfo"
        [transitionProcessingSettings]="commonService.transitionProcessingSettings"
        [transitionData]="commonService.transitionData"
        [peakData]="commonService.peakData"
      ></app-transition-view>
    </mat-tab>




  </mat-tab-group>
</div>
