<div>
  <mat-tab-group mat-align-tabs="start"
                 [selectedIndex]="selectedTab.value"
                 (selectedIndexChange)="selectedTab.setValue($event)">

    <mat-tab [disabled]="true">
      <ng-template mat-tab-label>
        <div *ngIf="loading" class="progress">
          <mat-spinner [diameter]="30" style="margin-right: 5px"></mat-spinner>
          <span style="justify-content: center">Processing</span>
        </div>
        <div *ngIf="uploading" class="progress">
          <mat-spinner [diameter]="30" style="margin-right: 5px"></mat-spinner>
          <span style="justify-content: center">Uploading</span>
        </div>
        <div *ngIf="!loading && !uploading" style="display: inline">
<!--          <mat-spinner [diameter]="30" style="margin-right: 5px"></mat-spinner>-->
          <span>Idle</span>
        </div>
      </ng-template>
      <div>
        <p>tfanalysis works!</p>
        <i class="material-icons">attach_file</i>
      </div>
    </mat-tab>
    <mat-tab label="Import"><app-file-upload
      (rawUploadInProgress$)="onRawUploadProgress($event)"
      (rawUploadSuccess$)="onRawUploadSuccess($event)"
    ></app-file-upload></mat-tab>
    <mat-tab label="Select">
      <ng-template matTabContent>
        <app-select-experiment></app-select-experiment>
      </ng-template>
    </mat-tab>
    <mat-tab label="Sample info"
    >
<!--      <ng-template matTabContent>-->
        <app-sample-info></app-sample-info>
<!--      </ng-template>-->
    </mat-tab>
    <mat-tab label="Processing settings"  >
      <!--      <ng-template matTabContent>-->
      <app-processing-settings></app-processing-settings>
      <!--      </ng-template>-->
    </mat-tab>
    <mat-tab label="Transition view"  >
      <!--      <ng-template matTabContent>-->
      <app-transition-view></app-transition-view>
      <!--      </ng-template>-->
    </mat-tab>
  </mat-tab-group>
</div>
