<div *ngIf="processingSettings">

  <form [formGroup]="processingSettingsForm" (ngSubmit)="onSubmit()">

    <!--  DATA TYPE SELECT  -->
    <div>
      <mat-form-field appearance="fill" >
        <mat-label>Data to analyse</mat-label>
        <mat-select formControlName="selected_data_type" required>
          <mat-option *ngFor="let option of dataTypesAvailable" [value]="option.value">
            {{option.value}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <!--  SKIP OUTLIERS CHECKBOX  -->
    <div>
      <mat-checkbox formControlName="skip_outliers">Skip outliers</mat-checkbox>
    </div>
    <!--  TRUNCATE X MIN SLIDER  -->
    <div>
      <mat-label>Truncate x axis min</mat-label>
      <mat-slider formControlName="truncate_x_min" [max]="100" [min]="0" [step]="1" [thumbLabel]="true"
        [value]="processingSettings.truncate_x_min">
      </mat-slider>
      {{processingSettingsForm.value.truncate_x_min}}
    </div>

    <!--  TRUNCATE X MAX SLIDER  -->
    <div>
      <mat-label>Truncate x axis max</mat-label>
      <mat-slider formControlName="truncate_x_max" [max]="100" [min]="0" [step]="1" [thumbLabel]="true"
                  [value]="processingSettings.truncate_x_max">
      </mat-slider>
      {{processingSettingsForm.value.truncate_x_max}}
    </div>

    <!--  INTERPOLATION INDICES SLIDER  -->
    <div>
      <mat-label>Interpolation indices</mat-label>
      <mat-slider formControlName="interpolation_indices" [max]="1" [min]="0.01" [step]="0.01" [thumbLabel]="true"
                  [value]="processingSettings.interpolation_indices">
      </mat-slider>
      {{processingSettingsForm.value.interpolation_indices}}
    </div>

    <!--  INTERPOLATION METHOD SELECT  -->
    <div>
      <mat-form-field appearance="fill" >
        <mat-label>Interpolation method</mat-label>
        <mat-select formControlName="interpolation_method" required>
          <mat-option *ngFor="let option of interpolationMethodsAvailable" [value]="option.value">
            {{option.value}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <!--  INTERPOLATION ORDER SLIDER // SPLINE -->
    <div *ngIf="'spline' == processingSettingsForm.value.interpolation_method">
      <mat-label>Interpolation order</mat-label>
      <mat-slider formControlName="interpolation_order" [max]="5" [min]="1" [step]="1" [thumbLabel]="true"
                  [value]="processingSettings.interpolation_order">
      </mat-slider>
      {{processingSettingsForm.value.interpolation_order}}
    </div>

    <!--  INTERPOLATION ORDER SLIDER // POLYNOMIAL  -->
    <div *ngIf="'polynomial' == processingSettingsForm.value.interpolation_method">
      <mat-label>Interpolation order</mat-label>
      <mat-slider formControlName="interpolation_order" [max]="9" [min]="1" [step]="2" [thumbLabel]="true"
                  [value]="processingSettings.interpolation_order">
      </mat-slider>
      {{processingSettingsForm.value.interpolation_order}}
    </div>

    <!--  PEAK MODE SELECT  -->
    <div>
      <mat-form-field appearance="fill" >
        <mat-label>Peak finding mode</mat-label>
        <mat-select formControlName="peak_mode" required>
          <mat-option *ngFor="let option of peakModesAvailable" [value]="option.value">
            {{option.value}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <!--  PEAK DERIVATIVE OF SELECT  -->
    <div>
      <mat-form-field appearance="fill" >
        <mat-label>Select data for peak finding</mat-label>
        <mat-select formControlName="peak_derivative_of" required>
          <mat-option *ngFor="let option of peakDerivativesOfAvailable" [value]="option.value">
            {{option.value}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div *ngIf="processingSettingsForm.value.peak_derivative_of.includes('raw')">
        Note that for raw data peak finding settings become relative to max y value in entire dataset
      </div>
    </div>

    <!--  PEAK LIMIT SLIDER  -->
    <div>
      <mat-label>Max peaks to find</mat-label>
      <mat-slider formControlName="peak_number_limit" [max]="10" [min]="1" [step]="1" [thumbLabel]="true"
                  [value]="processingSettings.peak_number_limit">
      </mat-slider>
      {{processingSettingsForm.value.peak_number_limit}}
    </div>

    <!--  PEAK DISTANCE SLIDER  -->
    <div>
      <mat-label>Distance between peaks</mat-label>
      <mat-slider formControlName="peak_distance" [max]="10" [min]="0.1" [step]="0.1" [thumbLabel]="true"
                  [value]="processingSettings.peak_distance">
      </mat-slider>
      {{processingSettingsForm.value.peak_distance}}
    </div>

    <!--  PEAK PROMINENCE MIN SLIDER TODO: starting value may be too high -->
    <div>
      <mat-label>Min peak prominence</mat-label>
      <mat-slider formControlName="peak_prominence_min" [max]="0.25" [min]="0.0" [step]="0.001" [thumbLabel]="true"
                  [value]="processingSettings.peak_prominence_min">
      </mat-slider>
      {{processingSettingsForm.value.peak_prominence_min}}
    </div>

    <!--  PEAK PROMINENCE MAX SLIDER  -->
    <div>
      <mat-label>Max peak prominence</mat-label>
      <mat-slider formControlName="peak_prominence_max" [max]="1" [min]="0.25" [step]="0.01" [thumbLabel]="true"
                  [value]="processingSettings.peak_prominence_max">
      </mat-slider>
      {{processingSettingsForm.value.peak_prominence_max}}
    </div>

    <!--  PEAK HEIGHT MIN SLIDER TODO: starting value may be too high -->
    <div>
      <mat-label>Min peak height</mat-label>
      <mat-slider formControlName="peak_height_min" [max]="0.25" [min]="0.0" [step]="0.001" [thumbLabel]="true"
                  [value]="processingSettings.peak_height_min">
      </mat-slider>
      {{processingSettingsForm.value.peak_height_min}}
    </div>

    <!--  PEAK HEIGHT MAX SLIDER  -->
    <div>
      <mat-label>Max peak height</mat-label>
      <mat-slider formControlName="peak_height_max" [max]="1" [min]="0.25" [step]="0.01" [thumbLabel]="true"
                  [value]="processingSettings.peak_height_max">
      </mat-slider>
      {{processingSettingsForm.value.peak_height_max}}
    </div>

    <!--  DATA SMOOTHING COEFFICIENT SLIDER  -->
    <div>
      <mat-label>Smoothing coefficient</mat-label>
      <mat-slider formControlName="smoothing_coefficient" [max]="90" [min]="1" [step]="1" [thumbLabel]="true"
                  [value]="processingSettings.smoothing_coefficient">
      </mat-slider>
      {{processingSettingsForm.value.smoothing_coefficient}}%
    </div>

    <!--  DIFFERENCE SIGNIFICANCE SLIDER  -->
    <div>
      <mat-label>Heatmap significant difference</mat-label>
      <mat-slider formControlName="difference_significance" [max]="10" [min]="0.1" [step]="0.1" [thumbLabel]="true"
                  [value]="processingSettings.difference_significance">
      </mat-slider>
      {{processingSettingsForm.value.difference_significance}}
    </div>

    <!--  X UNIT INPUT  -->
    <mat-form-field>
      <mat-label>X axis unit</mat-label>
      <input matInput formControlName="x_unit" [value]="processingSettings.x_unit">
    </mat-form-field>

    <!--  X LABEL INPUT  -->
    <mat-form-field>
      <mat-label>X axis label</mat-label>
      <input matInput formControlName="x_label" [value]="processingSettings.x_label">
    </mat-form-field>

    <!--  Y UNIT INPUT  -->
    <mat-form-field>
      <mat-label>Y axis unit</mat-label>
      <input matInput formControlName="y_unit" [value]="processingSettings.y_unit">
    </mat-form-field>

    <!--  Y LABEL INPUT  -->
    <mat-form-field>
      <mat-label>Y axis label</mat-label>
      <input matInput formControlName="y_label" [value]="processingSettings.y_label">
    </mat-form-field>

    <button mat-button type="submit">Save settings</button>

  </form>

  <div>
    <button mat-button (click)="callDataProcessing()">Process data</button>
  </div>

</div>
