<div *ngIf="transitionData" style="margin-bottom: 100px">

  <div class="row">
    <div class="column" style="max-width: 35%">
      <app-peak-finding-settings
        [peakFindingSettings]="commonService.peakFindingSettings"
      ></app-peak-finding-settings>
    </div>


    <div class="column" style="max-width: 65%">
      <app-transition-filter
        (filtersChanged)="sharePosFilter($event)"
        [samples]="sampleInfo">
      </app-transition-filter>
      <mat-divider></mat-divider>

      <div style="margin-left: 30px; margin-top: 5px;">
        <section>
          <h2 style="display: inline; margin-right: 20px">Plot data</h2>
          <mat-button-toggle-group [(ngModel)]="plotDataType" aria-label="Font Style">
            <mat-button-toggle value="regular">Regularised</mat-button-toggle>
            <mat-button-toggle value="smooth">Smoothened</mat-button-toggle>
            <mat-button-toggle value="normal">Normalised</mat-button-toggle>
            <mat-button-toggle value="first_der">First derivative</mat-button-toggle>
          </mat-button-toggle-group>

          <button style="margin-left: 20px" mat-raised-button (click)="recolourPlot()" color="accent">Recolour</button>

        </section>

        <app-transition-plot style="margin-left: 30px" #transitionPlot
          *ngIf="filterPosArr"
          [transitionData]="transitionData"
          [plotDataType]="plotDataType"
          [filterPosArr]="filterPosArr"
          [samples]="sampleInfo"
          [peaks]="peakData"
          [transitionProcessingSettings]="transitionProcessingSettings"
        ></app-transition-plot>
      </div>
    </div>
  </div>
</div>
